<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Language Translator</title>
  

  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="translate.js"></script>
  <link rel="stylesheet" type="text/css" href="translate.css">
  <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

  
</head>
 <body ng-app="langApp1">

<div class="block"></div>
 
 <div ng-controller="LangController">
 
 <div class="button">
 <button ng-click="sinhalaLang()">Sinhala</button>
 <button ng-click="tamilLang()">Tamil</button>
 <button ng-click="arabicLang()">Arabic</button>
 </div>

 <div class="row">
 <div class="col-md-6">
 <div class="first">
 <p> <strong>IMPORTANT WORDS</strong></p>
 <p> <strong>{{hello}}</strong> is how you say hello</p>
 <p> <strong>{{how}}</strong> is how you say how are you?</p>
 <p> <strong>{{food}}</strong> is how you say food</p>
 <p> <strong>{{sleep}}</strong> is how you say sleep</p>
 <p> <strong>{{transportation}}</strong> is how you say transportation</p>
 <p> <strong>{{money}}</strong> is how you say money</p>
 <p> <strong>{{hospital}}</strong> is how you say hospital</p>
 <p> <strong>{{hotel}}</strong> is how you say hotel</p>
 <p> <strong>{{restaurant}}</strong> is how you say restaurant</p>
 <p> <strong>{{airport}}</strong> is how you say airport</p>
 </div>
 </div>

 <div class="col-md-6">
 <div class="second">
 <p> <strong>USEFUL PHRASES</strong> </p>
 <p> My Name Is...<p/>
 <p> <strong>{{name}}</strong> </p>
 <p> Where is the bathroom?</p>
 <p> <strong>{{bathroom}}?</strong> </p>
 <p> How much does it cost?</p>
 <p> <strong>{{cost}}?</strong> </p>
 <p> Where is the taxi?</p>
 <p> <strong>{{taxi}}?</strong> </p>
 <p> How far away is it?</p>
 <p> <strong>{{distance}}?</strong> </p>
 </div>
 </div>
</div>


</div>
</body>
</html>
